.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1c7637;
  --bs-btn-border-color: #1c7637;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1ca746;
  --bs-btn-hover-border-color: #1ca746;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1ca746;
  --bs-btn-active-border-color: #1ca746;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1c7637;
  --bs-btn-disabled-border-color: #1c7637;
}
:root {
  --bs-link-color-rgb: 28, 118, 55;
  --bs-link-hover-color-rgb: 28, 167, 70;
  --bs-link-color: #1c7637;
  --bs-link-hover-color: #1ca746;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: #1c7637;
}
.form-control:focus {
  border-color: #6fb283;
  box-shadow: 0 0 0 0.25rem rgb(111 178 131 / 25%);
}
