* {
  font-family: 'Noto Sans TC', '微軟正黑體', 'Arial', sans-serif;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #000;
}
.accordion-button:focus {
  box-shadow: none;
}
.card {
  box-shadow:
    0 0 2px rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 1rem;
  border: 0;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 1.5rem;
}